NODE_ENV=development

# Supabase
VITE_SUPABASE_ANON_KEY=your_supabase_anon_key
VITE_SUPABASE_URL=your_supabase_url

# API
VITE_API_URL=your_api_url

# Instagram
VITE_INSTAGRAM_CLIENT_ID=your_instagram_client_id